@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    w-12 h-12 mt-5 mb-2 mx-auto 
    cursor-pointer shadow-lg 
    bg-gray-400 text-green-500 hover:text-white dark:bg-gray-800
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-16 rounded-md shadow-md 
    text-white bg-gray-900 
    text-sm font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-evenly
    bg-gray-300 dark:bg-gray-700 bg-opacity-90
    w-full h-16
    m-0
    shadow-lg;
  }

  .top-navigation-icon {
    @apply text-gray-500
    mr-3 ml-4
    cursor-pointer hover:text-pink-500
    transition duration-300 ease-in-out;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply text-2xl tracking-wider font-semibold text-gray-500
    ml-2 my-auto;
  }

  .title-text {
    @apply text-xl text-gray-700 tracking-wider font-semibold text-opacity-80
    mr-auto ml-2 my-auto
    transition duration-300 ease-in-out;
  }

  .search {
    @apply w-1/5 flex items-center justify-start
    bg-gray-400 dark:bg-gray-50
    text-gray-500
    px-2 h-9 ml-0 mr-0
    rounded-md shadow-md
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none
    text-gray-500 placeholder-gray-500
    pl-1 rounded;
  }

  /* Content Container */
  .content-container {
    @apply flex flex-col
    bg-gray-300 dark:bg-gray-700
    h-full w-full
    overflow-hidden;
  }

  .content-list {
    @apply flex flex-col items-center
    h-full w-full;
  }

  .post {
    @apply w-full
    flex flex-row items-center justify-evenly
    py-4 px-8
    cursor-pointer;
  }

  .post-selected {
    @apply bg-green-400 dark:bg-gray-900
    shadow-md;
  }

  .post-content {
    @apply w-4/5
    flex flex-col justify-start
    ml-auto;
  }

  .post-text {
    @apply text-lg text-gray-800 dark:text-white
    mr-auto whitespace-normal;
  }

  .post-owner {
    @apply font-semibold text-gray-800 dark:text-white
    mr-2 cursor-pointer;
  }

  .avatar-wrapper {
    @apply flex flex-col items-center
    w-12
    ml-auto mb-auto;
  }

  .avatar {
    @apply flex-none
    w-12 h-full
    rounded-full shadow-md
    object-cover bg-gray-100
    mb-auto
    cursor-pointer;
  }

  .timestamp {
    @apply text-xs text-left font-semibold
    text-gray-500 dark:text-gray-600
    ml-3;
  }

  /* Channel Bar */
  .channel-bar {
    @apply w-80 h-auto
    ml-16 px-6 pt-10
    bg-gray-200 dark:bg-gray-800
    overflow-hidden;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start
    p-2;
  }

  .channel-block {
    @apply flex items-center justify-center
    h-16;
  }

  .channel-block-text {
    @apply w-full px-2 pb-0
    text-lg tracking-wider font-bold
    text-gray-600 dark:text-gray-300
    mr-auto my-auto ml-4 align-middle;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2
    transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply flex flex-row items-center justify-evenly
    text-gray-500
    cursor-pointer;
  }

  .dropdown-header-text {
    @apply text-gray-500 text-opacity-80
    font-semibold text-lg
    cursor-default;
  }

  .dropdown-head-text-selected {
    @apply text-blue-500 text-opacity-90 text-lg font-bold;
  }

  .dropdown-selection {
    @apply flex flex-row items-center justify-evenly
    mt-1;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
